name: Smart Telegram Scheduler

on:
  schedule:
    - cron: "0 0 15 10 *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install
      - name: Run scheduler
        env:
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
          GH_REPOSITORY: ${{ secrets.GH_REPOSITORY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: node scheduler.js
